body {
	display: grid;
	border: solid;
	grid-template-areas: 
	"header header header"
	"nav content side"
	"footer footer footer";
	grid-template-columns: 8% auto 13%;
	grid-template-rows: auto auto auto;
	height: 100vh;
	background-image: url('./images/novaBackground.jpeg');
	margin: 0;
}

header {
	grid-area: header;
	border: solid;
	font-family: 'Merriweather', serif;
	font-size: 50px;
	padding: 2%;
	background-color: white;
	margin: 0;
	text-align: center;
	display: flex;
	justify-content: space-around;
}

#title {
	padding-top: 3%;
}

.headerPic {
	background-image: url('./images/novaBall.jpg');
	width: 20vh;
	height: 20vh;
	background-size: cover;
	background-position: center center;
}

nav {
	grid-area: nav;
	border: solid;
	display: grid;
}

.change {

}

.change:hover {
	cursor: pointer;
	transform: scale(1.1);
}

main {
	grid-area: content;
	border: solid;
	height: 100vh;
}

aside {
	grid-area: side;
	border: solid;
}

footer {
	grid-area: footer;
	border: solid;
}

.questionDiv {
	height: 100%;
	widows: 100%;
	position: absolute;
	opacity: 0;
	text-align: center;
	margin: auto;
	background-image: url('./images/novaBackground.jpeg');
	display: flex;
	justify-content: space-around;
	width: 77%;
	padding: 7%;
}

.qSpan {
	background-color: white;
	height: 35vh;
	width: 40%;
	border: solid;
	border-color: rgb(204, 158, 91);
	box-shadow: 10px 10px;
	padding: 3%;
	margin-left: 1%;
	font-size: 1.4em;
	border-radius: 20px;
	font-family: 'Merriweather', serif;
}

.active {
	z-index: 1;
	position: absolute;
	opacity: 1;
}

.option {
	padding: .2em;
	border-radius: 10px;
}

.option:hover {
	transform: scale(1.1);
	cursor: pointer;
	background-color: rgb(204, 158, 91);
}

.chosen {
	border: solid;
	border-width: .2em;
	border-color: rgb(204, 158, 91);
}

.hidden{
	opacity: 0;
}
.winMessage{
	opacity: 1;
	text-align: center;
	background-color: white;
	height: 100px;
	font-size: 20px;
	border: solid;
}

.image {
	background-size: cover;
	background-position: center center;
	margin: 0;
	border: solid;
	border-color: rgb(204, 158, 91);
	height: 20em;
	width: 20em;
	border-radius: 20px;
	box-shadow: 10px 10px;
}
#image1{
	background-image: url('./images/jayWrightPup.jpg');
	background-size: cover;
	background-position: center center;
	margin: 0;
	border: solid;
	border-color: rgb(204, 158, 91);
	height: 20em;
	width: 20em;
	border-radius: 20px;
	box-shadow: 10px 10px;

}

#image2 {
	background-image: url("./images/firstChamp.jpeg");
}

#image3 {
	background-image: url("./images/nbaDraft.jpg");
}

#image4 {
	background-image: url("./images/yeezianity.jpg");
}

#image5 {
	background-image: url('./images/donteYoung.jpeg');
}

#image6 {
	background-image: 
}

#image7 {
	background-image: url();
}

#image8 {
	background-image: url('./images/steveMadden.gif');
}


.question {
	padding-bottom: .5em;
	font-size: 1.2em;
}

#Submit {
	display: flex;
	flex-direction: column;
}

.reload{

}

#answerModal {
	width: 10em;
	height: 80%;
	background-color: pink;
	widows: 100%;
	position: absolute;
	text-align: center;
	margin: auto;
	background-image: url('./images/novaBackground.jpeg');
	display: flex;
	justify-content: space-around;
	width: 77%;
	padding: 7%;
}

#answerModalAnswers {
	background-color: white;
}








