body {
	display: grid;
	border: solid;
	grid-template-areas: 
	"header header header"
	"nav content side"
	"footer footer footer";
	grid-template-columns: 13% auto 13%;
	grid-template-rows: auto auto auto;
	height: 100vh;
}

header {
	grid-area: header;
	border: solid;
	font-family: 'Merriweather', serif;
	font-size: 50px;
	padding: 2%;
}

nav {
	grid-area: nav;
	border: solid;
	display: grid;
}

main {
	grid-area: content;
	border: solid;
	height: 100vh;
}

aside {
	grid-area: side;
	border: solid;
}

footer {
	grid-area: footer;
	border: solid;
}

.questionDiv {
	height: 100%;
	widows: 100%;
	position: absolute;
	opacity: 0;
	text-align: center;
	margin: auto;
	background-image: url('./images/novaBackground.jpeg');
	display: flex;
	justify-content: space-around;
	width: 77%;
}

.active {
	z-index: 1;
	position: absolute;
	opacity: 1;
}

.option {
	color: pink;
}

.chosen {
	border: solid;
}

.hidden{
	opacity: 0;
}
.winMessage{
	opacity: 1;
	text-align: center;
}
#image1{
	background-image: url('./images/jayWrightPup.jpg');
	background-size: cover;
	background-position: center center;
	margin: 5%;
	border: solid;
	height: 200px;
	width: 200px;
	border-radius: 20px;

}


